@model ScrumApp__Juro_.Models.Entities.UserAuth
@{
    ViewData["Title"] = "Manager Signup";
}

<div class="login-card">
    <h2 style="color: teal;">Manager Sign Up</h2>

    <form asp-action="ManRegister" method="post">
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" type="text" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" type="email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Username"></label>
            <input asp-for="Username" class="form-control" type="text" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" type="password"/>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="button-group">
            <button type="submit" class="btn-teal">Register</button>
            <button type="button" onclick="location.href='@Url.Action("ManLogin", "Auth")'" class="signup-btn">Back to Login</button>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
