@model ScrumApp__Juro_.Models.Entities.Developer

@{
	ViewData["Title"] = "Developer Dashboard";
}
<p>Welcome @Model.Name (@Model.Username) !</p>

<h1 class="fw-bold text-teal">Work</h1>

<div class="alert alert-info shadow-sm">No work assigned yet.</div>