@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">Welcome to <strong>Juro</strong></h1>
    <h3 class="display-6">Agile collaboration made simple.</h3>
    <p style="padding-top:50px">Juro is your all-in-one workspace for managing Scrum teams, 
        tracking sprints, and delivering better software — faster. Whether you're planning your next sprint, 
        running daily stand-ups, or reviewing backlogs, Juro keeps your team aligned and your projects on track.s</p>

    <a asp-controller="Project" asp-action="Projects" class="btn btn-primary">Get Started</a>
</div>
